eVanceIntegration/Projects/Consumer/Consumer/Web References/localhost/RabbitMQWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReceiveEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eventData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveEventResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReceiveEventSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveEvent" />
  </wsdl:message>
  <wsdl:message name="ReceiveEventSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveEventResponse" />
  </wsdl:message>
  <wsdl:portType name="RabbitMQWebServiceSoap">
    <wsdl:operation name="ReceiveEvent">
      <wsdl:input message="tns:ReceiveEventSoapIn" />
      <wsdl:output message="tns:ReceiveEventSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RabbitMQWebServiceSoap" type="tns:RabbitMQWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveEvent">
      <soap:operation soapAction="http://tempuri.org/ReceiveEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RabbitMQWebServiceSoap12" type="tns:RabbitMQWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveEvent">
      <soap12:operation soapAction="http://tempuri.org/ReceiveEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RabbitMQWebService">
    <wsdl:port name="RabbitMQWebServiceSoap" binding="tns:RabbitMQWebServiceSoap">
      <soap:address location="http://localhost/WebRabbitMQ/RabbitMQWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="RabbitMQWebServiceSoap12" binding="tns:RabbitMQWebServiceSoap12">
      <soap12:address location="http://localhost/WebRabbitMQ/RabbitMQWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>